@model  MealManagementSoftwareUiLayer.ViewModel.ProductOrderConfirmViewModel

@{
    ViewData["Title"] = "Order Confirmation";
}
<div class="text-center">


    <div class="alert alert-success" role="alert">
        @Model.NotificationMessage
    </div>


    <a class="btn btn-info" href="/home">Go to home</a>
</div>